<!-- Experience Section -->
<section id="experience">
  <h2 class="section-title">Experience</h2>
  <ul>
    <li>
      <span class="date">2015-present</span>
      <h3>UX Designer + Creative Director - <a class="company" href="http://vermontegov.com">Vermont&nbsp;Information&nbsp;Consortium</a></h3>
      <p class="description">UX Design, Creative Direction, and business planning for Vermont Information Consortium, a web agency focussed on providing websites and online services for Vermont&nbsp;State&nbsp;Government.</p>
    </li>
    <li>
      <span class="date">2011-2015</span>
      <h3>Creative Services Project Manager - <a class="company" href="http://vermontegov.com">Vermont&nbsp;Information&nbsp;Consortium</a></h3>
      <p class="description">UX/UI design, front-end development and CMS administration/configuration for Vermont&nbsp;Information&nbsp;Consortium.</p>
    </li>
    <li>
      <span class="date">2007-2011</span>
      <h3>Freelance Web Designer/Developer - <a class="company" href="http://madebyfred.com">Made&nbsp;by&nbsp;Fred</a></h3>
      <p class="description">Full stack Web design and development for my personal web&nbsp;agency.</p>
    </li>
  </ul>
</section>
