<!-- Skills Section -->
    <section id="skills">
        <div class="container">
          <h2 class="section-title">Skills</h2>
            <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Research</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>As a UX Designer and jack of many trades, I’m no stranger to conducting research.</p>
                                  <p><strong>Tools:</strong> User Interviews, Field Trips, Competitor Analysis, Google Analytics, Workshops, Touchpoint Meetings.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Story Boards, User Stories, and Workflows</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>I often like to draw story boards, these are very helpful in breaking tasks down into user stories. The user stories in turn inform the application workflows. I make sure to annotate the workflows with directions and questions for the developers. The user stories and workflows often influence the final data architecture.</p>
                                  <p><strong>Tools:</strong> Pen and paper, Spreadsheets, JIRA, Gliffy, Sketch.</p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Wireframes and Prototypes</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Despite the proliferation of platforms and devices, wireframes are still very relevant and useful. Nothing surfaces overlooked details better than a prototype, however rough it might be. Instead of clickable wireframes or mockups, I often prefer to have a working prototype in code.</p>
                                  <p><strong>Tools:</strong> Pen and paper, Sketch, Balsamiq, Invision, Webflow, handcrafted HTML/CSS/JS.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Mockups and Comps</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Our pattern library has made this step somewhat redundant, but there still is a time and place for visually accurate mockups and comps. Especially when soliciting feedback or filling in gaps in the pattern library.</p>
                                  <p><strong>Tools:</strong> Sketch, Adobe Illustrator CC, Invision.</p>
                                  </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Modular Design</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>I like the idea of Atomic Design, but haven’t found the perfect way of implementing it into my workflow. Instead, I’ve created my own modular design system. The system is based on a pattern library which includes a style guide, Sketch template files, and HTML/CSS/JS code snippets.</p>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/11.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Front-End Development</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>I believe that it’s very useful for a UX/UI Designer to have a solid understanding of HTML/CSS/JS and at least a working knowledge of some other programming languages. As such I make sure to stay up to date with the latest HTML, CSS (and SASS) trends and standards, as well as maintaining a basic understanding of Javascript and PHP.</p>
                                  <p><strong>Tools:</strong> A variety of platforms (Drupal, WordPress, Jekyll), frameworks and libraries (Bootstrap, Bourbon and Neat, etc.), handcrafted HTML/CSS/JS</p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/12.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Business Development</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>In my current role as Creative Director, I'm heavily involved with business development and strategy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/13.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Project Management</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>While my team currently use a semi-Agile approach to project management and I'm not formally trained in Agile, I have plenty of experience making sure a project moves along a well planned path from start to finish.</p>
                                  <p><strong>Tools:</strong> Basecamp, JIRA, Confluence.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/14.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>SEO, Section 508 Compliance, and Web Standards</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>The many years of experience I have building websites and online applications have taught me a lot about SEO, Section 508 compliance and Accessibility, and of course Web Standards.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/15.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Branding, Logo Design, Graphic Design</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Despite my focus on UX and web design, the occasional offline project has come my way. I've done branding and logo design, and have designed brochures, informational cards, signage and more.</p>
                                  <p><strong>Tools:</strong> Pen and Paper, Adobe Photoshop, Adobe Illustrator, Adobe Indesign, Sketch. </p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/16.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Additional Communication Skills</h3>
                                </div>
                                <div class="timeline-body">
                                  <p class="description">My background in communication studies and my passion for language have helped me run social media campaigns, write website copy or blog posts, and of course pitch projects and products to potential clients.</p>
                                  <p>My native tongue is Dutch, but at this point it's not a stretch to call English my first language. I'm also fluent, if maybe a bit rusty, in French and German too.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </section>
