<!-- Skills Section -->
    <section id="skills">
        <div class="container">
          <h2 class="section-title">Skills</h2>
            <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Research Workshops</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>In my current position, I've introduced Research Workshops. During these workshops we invite the client over to learn about common web design concepts, strategies and best practices.</p>
                                  <p>Usually, we discuss things like Personas, Style Tiles and Style Guides, Use Cases, Task Analysis, User Stories, etc. We then work with the client to further develop these elements and write up a comprehensive project or product proposal.</p>                                </div>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Application Flow</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Before starting any wireframes, and often even before finalizing the application architecture, I like to draw up the Application Flow. Broken down by tasks and inspired by the use cases and other results from the discovery phase. I draw the flow and annotate it with directions and questions for the developers.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Wireframes</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Despite the proliferation of platforms and devices, wireframing is still a crucial step in the design of most web applications. The tools I use vary, sometimes I stick to pen and paper, other times I use Sketch and on occasion I'll go all out and design interactive wireframes using a combination of tools (Sketch, Balsamiq, Invision, ...). Regardless of the tools used, I always make sure to annotate well and to solicit feedback from the developers and clients.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Mockups</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Instead of pixel perfect mockups, I often prefer to build a quick prototype. By leveraging frameworks, libraries, and templates, I find that this is often faster and easier for the client to comprehend.</p>
                                  <p>Some of the tools I use for this are: handcrafted html and css, Jekyll, Drupal or WordPress, and libraries or frameworks such as Bourbon, Neat, Twig, Compass, etc.</p>
                                  <p>Of course some projects still benefit from classic mockups drawn to perfection in Sketch, Photoshop or Illustrator. To make PNG mockups interactive I prefer Invision or Marvel.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>UI Framework</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>To make rapid prototyping and final development as efficient as possible, I've created a library of code snippets for our developers. Most common application elements and some complete tasks are available as html/css/js snippets. This not only increases efficiencies, it also ensures more consistent front-end code.</p>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/11.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>User and usability testing</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>For user testing and usability testing, I like to use tools like surveys and feedback forms, Peek, A/B testing, regular touchpoint meetings with the client, and the occasional focus group.</p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/12.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Business Development</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>In my current role as Creative Director, I'm heavily involved with business development and strategy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/13.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Project Management</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>While we currently use a semi-Agile approach to project management and I'm not formally trained in Agile or SCRUM, I have plenty of experience making sure a project moves along a well planned path from start to finish.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/14.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>SEO, Section 508 Compliance, and Web Standards</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>The many years of experience I have building websites and online applications have taught me a lot about SEO, Section 508 compliance and Accessibility, and of course Web Standards.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/15.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Branding, Logo Design, Graphic Design</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Despite my focus on UX and web design, the occasional offline project has come my way. I've done branding and logo design, and have designed brochures, informational cards, signage and more.</p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/16.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Additional Communication Skills</h3>
                                </div>
                                <div class="timeline-body">
                                  <p class="description">My background in communication studies and my passion for language have helped me run social media campaigns, write website copy or blog posts, and of course pitch projects and products to potential clients.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </section>
