<!-- Skills Section -->
    <section id="skills">
        <div class="container">
          <h2 class="section-title">Skills</h2>
            <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Research</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>As a UX Designer and jack of many trades, I’m no stranger to research.</p>
                                  <p><strong>Tools:</strong> User Interviews, Competitor Analysis, Google Analytics, Design Workshops, Touchpoint meetings.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Workshops</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>In my current position, I've introduced Research and Design Workshops. During these workshops we invite the client over to learn about common web design concepts, strategies and best practices.</p>
                                  <p>We then work together to draft Story Boards, User Stories, Task Flows, Personas, etc.</p>
                                  <p><strong>Tools:</strong> Whiteboards, Post-it Notes, Jira, Coffee, Cookies and Chocolate. </p>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Workflows and Wireframes</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Breaking down user stories into workflows isn't the most exciting part of the design process, but that doesn't make it any less important. And despite the proliferation of platforms and devices, wireframing is still a crucial step too.</p>
                                  <p><strong>Tools:</strong> Pen and Paper, Sketch, Balsamiq, Gliffy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Mockups and Prototypes</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Instead of pixel perfect mockups, I often prefer to build a quick prototype. By leveraging frameworks, libraries, and templates, I find that this is almost as fast and offers a better experience than interactive mockups.</p>
                                  <p>There’s a time and place for visually accurate mockups though. Especially when deciding on the building blocks for modular design.</p>
                                  <p><strong>Tools:</strong> Sketch, Adobe Illustrator, Invision, Marvel and a variety of platforms, frameworks, and libraries (Jekyll, Drupal, Bootstrap, my own modular design library, handcrafted HTML/CSS/JS)</p>
                                  </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Modular Design</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>I like the idea of Atomic Design, but haven’t found the perfect way of implementing it into my workflow. Instead, I’ve created my own modular design system. This not only increases efficiencies, it also ensures more consistent front-end code. The system encompasses a style guide, Sketch template files, and a library of HTML/CSS/JS code snippets.</p>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/11.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Front-End Development</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>I believe that it’s very useful for a UX Designer to have a solid understanding of HTML/CSS and at least a solid working knowledge of Javascript and some other programming languages. As such I make sure to stay up to date with the latest HTML, CSS (and SASS) standards, as well as maintaining a basic understanding of Javascript and PHP.</p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/12.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Business Development</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>In my current role as Creative Director, I'm heavily involved with business development and strategy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/13.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Project Management</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>While my team currently use a semi-Agile approach to project management and I'm not formally trained in Agile, I have plenty of experience making sure a project moves along a well planned path from start to finish.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/14.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>SEO, Section 508 Compliance, and Web Standards</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>The many years of experience I have building websites and online applications have taught me a lot about SEO, Section 508 compliance and Accessibility, and of course Web Standards.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/15.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Branding, Logo Design, Graphic Design</h3>
                                </div>
                                <div class="timeline-body">
                                  <p>Despite my focus on UX and web design, the occasional offline project has come my way. I've done branding and logo design, and have designed brochures, informational cards, signage and more.</p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/skills/16.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Additional Communication Skills</h3>
                                </div>
                                <div class="timeline-body">
                                  <p class="description">My background in communication studies and my passion for language have helped me run social media campaigns, write website copy or blog posts, and of course pitch projects and products to potential clients.</p>
                                  <p>My native tongue is Dutch, but at this point it's not a stretch to call English my first language. I'm also fluent, if maybe a bit rusty, in French and German too.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </section>
