<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="home">

    {% include header.html %}

    <div class="page-content">
      {% include intro.html %}
      {% include about.html %}
      {% include portfolio.html %}
      {% include skills.html %}
      {% include experience.html %}
      {% include education.html %}
      {% include personal.html %}
      {% include next.html %}
      {% include contact.html %}
      {% include footer.html %}
      {% include modals.html %}
      {% include js.html %}
        <!-- {{ content }} -->
    </div>

  </body>

</html>
